Contract/BFM.Server.DataAsset/Service References/WMSService/WMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://fanuc.com.cn/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://fanuc.com.cn/" location="http://localhost/BFM.WCFService/WMSService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IWMSService" type="i0:IWMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWmsAreaInfoByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsAreaInfoByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsAreaInfoCount">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsAreaInfoCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWmsAreaInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/AddWmsAreaInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWmsAreaInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/UpdateWmsAreaInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelWmsAreaInfos">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/DelWmsAreaInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelWmsAreaInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/DelWmsAreaInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsAreaInfos">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsAreaInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsAreaInfoById">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsAreaInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsAllocationInfoByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsAllocationInfoByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsAllocationInfoCount">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsAllocationInfoCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWmsAllocationInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/AddWmsAllocationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWmsAllocationInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/UpdateWmsAllocationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelWmsAllocationInfos">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/DelWmsAllocationInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelWmsAllocationInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/DelWmsAllocationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsAllocationInfos">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsAllocationInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsAllocationInfoById">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsAllocationInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsInvOperateByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsInvOperateByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsInvOperateCount">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsInvOperateCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWmsInvOperate">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/AddWmsInvOperate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWmsInvOperate">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/UpdateWmsInvOperate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelWmsInvOperates">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/DelWmsInvOperates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelWmsInvOperate">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/DelWmsInvOperate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsInvOperates">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsInvOperates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsInvOperateById">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsInvOperateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsInventoryByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsInventoryByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsInventoryCount">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsInventoryCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWmsInventory">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/AddWmsInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWmsInventory">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/UpdateWmsInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelWmsInventorys">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/DelWmsInventorys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelWmsInventory">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/DelWmsInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsInventorys">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsInventorys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsInventoryById">
      <soap:operation soapAction="http://fanuc.com.cn/IWMSService/GetWmsInventoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMSService">
    <wsdl:port name="BasicHttpBinding_IWMSService" binding="tns:BasicHttpBinding_IWMSService">
      <soap:address location="http://localhost/BFM.WCFService/WMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>