Contract/BFM.Server.DataAsset/Service References/QMSService/QMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://fanuc.com.cn/" elementFormDefault="qualified" targetNamespace="http://fanuc.com.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BFM.WCFService/QMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BFM.ContractModel" />
  <xs:import schemaLocation="http://localhost/BFM.WCFService/QMSService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetQmsTestByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsTestByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsTestByPageResult" nillable="true" type="q1:ArrayOfQmsTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsTestCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsTestCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQmsTestCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQmsTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mQmsTest" nillable="true" type="q2:QmsTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQmsTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQmsTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQmsTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mQmsTest" nillable="true" type="q3:QmsTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQmsTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQmsTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQmsTestsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQmsTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsTestsResult" nillable="true" type="q5:ArrayOfQmsTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsTestById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsTestByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsTestByIdResult" nillable="true" type="q6:QmsTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckParamByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckParamByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsCheckParamByPageResult" nillable="true" type="q7:ArrayOfQmsCheckParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckParamCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckParamCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQmsCheckParamCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQmsCheckParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mQmsCheckParam" nillable="true" type="q8:QmsCheckParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQmsCheckParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQmsCheckParamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQmsCheckParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mQmsCheckParam" nillable="true" type="q9:QmsCheckParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQmsCheckParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQmsCheckParamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsCheckParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsCheckParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQmsCheckParamsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsCheckParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsCheckParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQmsCheckParamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsCheckParamsResult" nillable="true" type="q11:ArrayOfQmsCheckParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckParamById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckParamByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsCheckParamByIdResult" nillable="true" type="q12:QmsCheckParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsRoutingCheckByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsRoutingCheckByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsRoutingCheckByPageResult" nillable="true" type="q13:ArrayOfQmsRoutingCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsRoutingCheckCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsRoutingCheckCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQmsRoutingCheckCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQmsRoutingCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mQmsRoutingCheck" nillable="true" type="q14:QmsRoutingCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQmsRoutingCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQmsRoutingCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQmsRoutingCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mQmsRoutingCheck" nillable="true" type="q15:QmsRoutingCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQmsRoutingCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQmsRoutingCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsRoutingChecks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsRoutingChecksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQmsRoutingChecksResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsRoutingCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsRoutingCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQmsRoutingCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsRoutingChecks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsRoutingChecksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsRoutingChecksResult" nillable="true" type="q17:ArrayOfQmsRoutingCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsRoutingCheckById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsRoutingCheckByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsRoutingCheckByIdResult" nillable="true" type="q18:QmsRoutingCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckMasterByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckMasterByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsCheckMasterByPageResult" nillable="true" type="q19:ArrayOfQmsCheckMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckMasterCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckMasterCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQmsCheckMasterCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQmsCheckMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mQmsCheckMaster" nillable="true" type="q20:QmsCheckMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQmsCheckMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQmsCheckMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQmsCheckMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mQmsCheckMaster" nillable="true" type="q21:QmsCheckMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQmsCheckMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQmsCheckMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsCheckMasters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsCheckMastersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQmsCheckMastersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsCheckMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQmsCheckMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQmsCheckMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckMasters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckMastersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsCheckMastersResult" nillable="true" type="q23:ArrayOfQmsCheckMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckMasterById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQmsCheckMasterByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetQmsCheckMasterByIdResult" nillable="true" type="q24:QmsCheckMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>