Contract/BFM.Server.DataAsset/Service References/QMSService/QMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://fanuc.com.cn/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://fanuc.com.cn/" location="http://localhost/BFM.WCFService/QMSService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IQMSService" type="i0:IQMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQmsTestByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsTestByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsTestCount">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsTestCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQmsTest">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/AddQmsTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQmsTest">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/UpdateQmsTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelQmsTests">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/DelQmsTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelQmsTest">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/DelQmsTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsTests">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsTestById">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsTestById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsCheckParamByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsCheckParamByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsCheckParamCount">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsCheckParamCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQmsCheckParam">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/AddQmsCheckParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQmsCheckParam">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/UpdateQmsCheckParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelQmsCheckParams">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/DelQmsCheckParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelQmsCheckParam">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/DelQmsCheckParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsCheckParams">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsCheckParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsCheckParamById">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsCheckParamById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsRoutingCheckByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsRoutingCheckByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsRoutingCheckCount">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsRoutingCheckCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQmsRoutingCheck">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/AddQmsRoutingCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQmsRoutingCheck">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/UpdateQmsRoutingCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelQmsRoutingChecks">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/DelQmsRoutingChecks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelQmsRoutingCheck">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/DelQmsRoutingCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsRoutingChecks">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsRoutingChecks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsRoutingCheckById">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsRoutingCheckById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsCheckMasterByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsCheckMasterByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsCheckMasterCount">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsCheckMasterCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQmsCheckMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/AddQmsCheckMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQmsCheckMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/UpdateQmsCheckMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelQmsCheckMasters">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/DelQmsCheckMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelQmsCheckMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/DelQmsCheckMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsCheckMasters">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsCheckMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQmsCheckMasterById">
      <soap:operation soapAction="http://fanuc.com.cn/IQMSService/GetQmsCheckMasterById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QMSService">
    <wsdl:port name="BasicHttpBinding_IQMSService" binding="tns:BasicHttpBinding_IQMSService">
      <soap:address location="http://localhost/BFM.WCFService/QMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>