Contract/BFM.Server.DataAsset/Service References/FMSService/FMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://fanuc.com.cn/" elementFormDefault="qualified" targetNamespace="http://fanuc.com.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BFM.WCFService/FMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BFM.ContractModel" />
  <xs:import schemaLocation="http://localhost/BFM.WCFService/FMSService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetFmsAssetCommParamByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetCommParamByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsAssetCommParamByPageResult" nillable="true" type="q1:ArrayOfFmsAssetCommParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetCommParamCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetCommParamCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFmsAssetCommParamCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsAssetCommParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsAssetCommParam" nillable="true" type="q2:FmsAssetCommParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsAssetCommParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFmsAssetCommParamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsAssetCommParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsAssetCommParam" nillable="true" type="q3:FmsAssetCommParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsAssetCommParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFmsAssetCommParamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsAssetCommParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsAssetCommParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsAssetCommParamsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsAssetCommParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsAssetCommParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsAssetCommParamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetCommParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetCommParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsAssetCommParamsResult" nillable="true" type="q5:ArrayOfFmsAssetCommParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetCommParamById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetCommParamByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsAssetCommParamByIdResult" nillable="true" type="q6:FmsAssetCommParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetTagSettingByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetTagSettingByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsAssetTagSettingByPageResult" nillable="true" type="q7:ArrayOfFmsAssetTagSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetTagSettingCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetTagSettingCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFmsAssetTagSettingCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsAssetTagSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsAssetTagSetting" nillable="true" type="q8:FmsAssetTagSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsAssetTagSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFmsAssetTagSettingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsAssetTagSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsAssetTagSetting" nillable="true" type="q9:FmsAssetTagSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsAssetTagSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFmsAssetTagSettingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsAssetTagSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsAssetTagSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsAssetTagSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsAssetTagSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsAssetTagSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsAssetTagSettingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetTagSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetTagSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsAssetTagSettingsResult" nillable="true" type="q11:ArrayOfFmsAssetTagSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetTagSettingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsAssetTagSettingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsAssetTagSettingByIdResult" nillable="true" type="q12:FmsAssetTagSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsStateResultRecordByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsStateResultRecordByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsStateResultRecordByPageResult" nillable="true" type="q13:ArrayOfFmsStateResultRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsStateResultRecordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsStateResultRecordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFmsStateResultRecordCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsStateResultRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsStateResultRecord" nillable="true" type="q14:FmsStateResultRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsStateResultRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFmsStateResultRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsStateResultRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsStateResultRecord" nillable="true" type="q15:FmsStateResultRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsStateResultRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFmsStateResultRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsStateResultRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsStateResultRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsStateResultRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsStateResultRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsStateResultRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsStateResultRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsStateResultRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsStateResultRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsStateResultRecordsResult" nillable="true" type="q17:ArrayOfFmsStateResultRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsStateResultRecordById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsStateResultRecordByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsStateResultRecordByIdResult" nillable="true" type="q18:FmsStateResultRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsSamplingRecordByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsSamplingRecordByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsSamplingRecordByPageResult" nillable="true" type="q19:ArrayOfFmsSamplingRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsSamplingRecordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsSamplingRecordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFmsSamplingRecordCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsSamplingRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsSamplingRecord" nillable="true" type="q20:FmsSamplingRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsSamplingRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFmsSamplingRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsSamplingRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsSamplingRecord" nillable="true" type="q21:FmsSamplingRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsSamplingRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFmsSamplingRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsSamplingRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsSamplingRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsSamplingRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsSamplingRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsSamplingRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsSamplingRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsSamplingRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsSamplingRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsSamplingRecordsResult" nillable="true" type="q23:ArrayOfFmsSamplingRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsSamplingRecordById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsSamplingRecordByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsSamplingRecordByIdResult" nillable="true" type="q24:FmsSamplingRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionControlByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionControlByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionControlByPageResult" nillable="true" type="q25:ArrayOfFmsActionControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionControlCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionControlCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFmsActionControlCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsActionControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsActionControl" nillable="true" type="q26:FmsActionControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsActionControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFmsActionControlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsActionControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsActionControl" nillable="true" type="q27:FmsActionControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsActionControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFmsActionControlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionControlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsActionControlsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsActionControlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionControlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionControlsResult" nillable="true" type="q29:ArrayOfFmsActionControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionControlById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionControlByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionControlByIdResult" nillable="true" type="q30:FmsActionControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsTagCalculationByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsTagCalculationByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsTagCalculationByPageResult" nillable="true" type="q31:ArrayOfFmsTagCalculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsTagCalculationCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsTagCalculationCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFmsTagCalculationCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsTagCalculation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsTagCalculation" nillable="true" type="q32:FmsTagCalculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsTagCalculationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFmsTagCalculationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsTagCalculation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsTagCalculation" nillable="true" type="q33:FmsTagCalculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsTagCalculationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFmsTagCalculationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsTagCalculations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsTagCalculationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsTagCalculationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsTagCalculation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsTagCalculationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsTagCalculationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsTagCalculations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsTagCalculationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsTagCalculationsResult" nillable="true" type="q35:ArrayOfFmsTagCalculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsTagCalculationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsTagCalculationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsTagCalculationByIdResult" nillable="true" type="q36:FmsTagCalculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaMainByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaMainByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionFormulaMainByPageResult" nillable="true" type="q37:ArrayOfFmsActionFormulaMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaMainCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaMainCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFmsActionFormulaMainCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsActionFormulaMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsActionFormulaMain" nillable="true" type="q38:FmsActionFormulaMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsActionFormulaMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFmsActionFormulaMainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsActionFormulaMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsActionFormulaMain" nillable="true" type="q39:FmsActionFormulaMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsActionFormulaMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFmsActionFormulaMainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionFormulaMains">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionFormulaMainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsActionFormulaMainsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionFormulaMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionFormulaMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsActionFormulaMainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaMains">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaMainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionFormulaMainsResult" nillable="true" type="q41:ArrayOfFmsActionFormulaMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaMainById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaMainByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionFormulaMainByIdResult" nillable="true" type="q42:FmsActionFormulaMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaDetailByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaDetailByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionFormulaDetailByPageResult" nillable="true" type="q43:ArrayOfFmsActionFormulaDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaDetailCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaDetailCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFmsActionFormulaDetailCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsActionFormulaDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsActionFormulaDetail" nillable="true" type="q44:FmsActionFormulaDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFmsActionFormulaDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFmsActionFormulaDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsActionFormulaDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mFmsActionFormulaDetail" nillable="true" type="q45:FmsActionFormulaDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFmsActionFormulaDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFmsActionFormulaDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionFormulaDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionFormulaDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsActionFormulaDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionFormulaDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFmsActionFormulaDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFmsActionFormulaDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionFormulaDetailsResult" nillable="true" type="q47:ArrayOfFmsActionFormulaDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaDetailById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFmsActionFormulaDetailByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetFmsActionFormulaDetailByIdResult" nillable="true" type="q48:FmsActionFormulaDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>