Contract/BFM.Server.DataAsset/Service References/PLMService/PLMService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://fanuc.com.cn/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PLMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://fanuc.com.cn/" location="http://localhost/BFM.WCFService/PLMService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IPLMService" type="i0:IPLMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPmPlanMasterByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmPlanMasterByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmPlanMasterCount">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmPlanMasterCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPmPlanMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/AddPmPlanMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePmPlanMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/UpdatePmPlanMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelPmPlanMasters">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelPmPlanMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelPmPlanMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelPmPlanMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmPlanMasters">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmPlanMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmPlanMasterById">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmPlanMasterById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmTaskMasterByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmTaskMasterByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmTaskMasterCount">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmTaskMasterCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPmTaskMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/AddPmTaskMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePmTaskMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/UpdatePmTaskMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelPmTaskMasters">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelPmTaskMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelPmTaskMaster">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelPmTaskMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmTaskMasters">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmTaskMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmTaskMasterById">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmTaskMasterById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmTaskLineByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmTaskLineByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmTaskLineCount">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmTaskLineCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPmTaskLine">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/AddPmTaskLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePmTaskLine">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/UpdatePmTaskLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelPmTaskLines">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelPmTaskLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelPmTaskLine">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelPmTaskLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmTaskLines">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmTaskLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmTaskLineById">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetPmTaskLineById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesJobOrderByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesJobOrderByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesJobOrderCount">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesJobOrderCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMesJobOrder">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/AddMesJobOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMesJobOrder">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/UpdateMesJobOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMesJobOrders">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelMesJobOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMesJobOrder">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelMesJobOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesJobOrders">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesJobOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesJobOrderById">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesJobOrderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesProcessCtrolByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesProcessCtrolByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesProcessCtrolCount">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesProcessCtrolCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMesProcessCtrol">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/AddMesProcessCtrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMesProcessCtrol">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/UpdateMesProcessCtrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMesProcessCtrols">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelMesProcessCtrols" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMesProcessCtrol">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelMesProcessCtrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesProcessCtrols">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesProcessCtrols" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesProcessCtrolById">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesProcessCtrolById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestEFCodeFirstByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetTestEFCodeFirstByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestEFCodeFirstCount">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetTestEFCodeFirstCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTestEFCodeFirst">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/AddTestEFCodeFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestEFCodeFirst">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/UpdateTestEFCodeFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelTestEFCodeFirsts">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelTestEFCodeFirsts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelTestEFCodeFirst">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelTestEFCodeFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestEFCodeFirsts">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetTestEFCodeFirsts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestEFCodeFirstById">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetTestEFCodeFirstById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesProductProcessByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesProductProcessByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesProductProcessCount">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesProductProcessCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMesProductProcess">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/AddMesProductProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMesProductProcess">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/UpdateMesProductProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMesProductProcesss">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelMesProductProcesss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMesProductProcess">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/DelMesProductProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesProductProcesss">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesProductProcesss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMesProductProcessById">
      <soap:operation soapAction="http://fanuc.com.cn/IPLMService/GetMesProductProcessById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PLMService">
    <wsdl:port name="BasicHttpBinding_IPLMService" binding="tns:BasicHttpBinding_IPLMService">
      <soap:address location="http://localhost/BFM.WCFService/PLMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>