Contract/BFM.Server.DataAsset/Service References/DAService/DAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://fanuc.com.cn/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DAService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://fanuc.com.cn/" location="http://localhost/BFM.WCFService/DAService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDAService" type="i0:IDAService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDAMachineRealTimeInfoByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAMachineRealTimeInfoByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAMachineRealTimeInfoCount">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAMachineRealTimeInfoCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDAMachineRealTimeInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/AddDAMachineRealTimeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDAMachineRealTimeInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/UpdateDAMachineRealTimeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDAMachineRealTimeInfos">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/DelDAMachineRealTimeInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDAMachineRealTimeInfo">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/DelDAMachineRealTimeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAMachineRealTimeInfos">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAMachineRealTimeInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAMachineRealTimeInfoById">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAMachineRealTimeInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAProductRecordByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAProductRecordByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAProductRecordCount">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAProductRecordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDAProductRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/AddDAProductRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDAProductRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/UpdateDAProductRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDAProductRecords">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/DelDAProductRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDAProductRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/DelDAProductRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAProductRecords">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAProductRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAProductRecordById">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAProductRecordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAAlarmRecordByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAAlarmRecordByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAAlarmRecordCount">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAAlarmRecordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDAAlarmRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/AddDAAlarmRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDAAlarmRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/UpdateDAAlarmRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDAAlarmRecords">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/DelDAAlarmRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDAAlarmRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/DelDAAlarmRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAAlarmRecords">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAAlarmRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAAlarmRecordById">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAAlarmRecordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAStatusRecordByPage">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAStatusRecordByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAStatusRecordCount">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAStatusRecordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDAStatusRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/AddDAStatusRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDAStatusRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/UpdateDAStatusRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDAStatusRecords">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/DelDAStatusRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDAStatusRecord">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/DelDAStatusRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAStatusRecords">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAStatusRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDAStatusRecordById">
      <soap:operation soapAction="http://fanuc.com.cn/IDAService/GetDAStatusRecordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DAService">
    <wsdl:port name="BasicHttpBinding_IDAService" binding="tns:BasicHttpBinding_IDAService">
      <soap:address location="http://localhost/BFM.WCFService/DAService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>