Contract/BFM.Server.DataAsset/Service References/TMSService/TMSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://fanuc.com.cn/" elementFormDefault="qualified" targetNamespace="http://fanuc.com.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BFM.WCFService/TMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BFM.ContractModel" />
  <xs:import schemaLocation="http://localhost/BFM.WCFService/TMSService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetTmsToolsTypeByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsTypeByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsToolsTypeByPageResult" nillable="true" type="q1:ArrayOfTmsToolsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsTypeCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsTypeCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTmsToolsTypeCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTmsToolsType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mTmsToolsType" nillable="true" type="q2:TmsToolsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTmsToolsTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTmsToolsTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTmsToolsType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mTmsToolsType" nillable="true" type="q3:TmsToolsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTmsToolsTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTmsToolsTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsToolsTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsToolsTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTmsToolsTypesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsToolsType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsToolsTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTmsToolsTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsToolsTypesResult" nillable="true" type="q5:ArrayOfTmsToolsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsToolsTypeByIdResult" nillable="true" type="q6:TmsToolsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsMasterByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsMasterByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsToolsMasterByPageResult" nillable="true" type="q7:ArrayOfTmsToolsMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsMasterCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsMasterCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTmsToolsMasterCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTmsToolsMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mTmsToolsMaster" nillable="true" type="q8:TmsToolsMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTmsToolsMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTmsToolsMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTmsToolsMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mTmsToolsMaster" nillable="true" type="q9:TmsToolsMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTmsToolsMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTmsToolsMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsToolsMasters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsToolsMastersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTmsToolsMastersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsToolsMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsToolsMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTmsToolsMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsMasters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsMastersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsToolsMastersResult" nillable="true" type="q11:ArrayOfTmsToolsMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsMasterById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsToolsMasterByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsToolsMasterByIdResult" nillable="true" type="q12:TmsToolsMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsDeviceToolsPosByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsDeviceToolsPosByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsDeviceToolsPosByPageResult" nillable="true" type="q13:ArrayOfTmsDeviceToolsPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsDeviceToolsPosCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsDeviceToolsPosCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTmsDeviceToolsPosCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTmsDeviceToolsPos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mTmsDeviceToolsPos" nillable="true" type="q14:TmsDeviceToolsPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTmsDeviceToolsPosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTmsDeviceToolsPosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTmsDeviceToolsPos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mTmsDeviceToolsPos" nillable="true" type="q15:TmsDeviceToolsPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTmsDeviceToolsPosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTmsDeviceToolsPosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsDeviceToolsPoss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsDeviceToolsPossResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTmsDeviceToolsPossResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsDeviceToolsPos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTmsDeviceToolsPosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTmsDeviceToolsPosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsDeviceToolsPoss">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsDeviceToolsPossResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsDeviceToolsPossResult" nillable="true" type="q17:ArrayOfTmsDeviceToolsPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsDeviceToolsPosById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTmsDeviceToolsPosByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetTmsDeviceToolsPosByIdResult" nillable="true" type="q18:TmsDeviceToolsPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>