Contract/BFM.Server.DataAsset/Service References/TMSService/TMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://fanuc.com.cn/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://fanuc.com.cn/" location="http://localhost/BFM.WCFService/TMSService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ITMSService" type="i0:ITMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTmsToolsTypeByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsToolsTypeByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsToolsTypeCount">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsToolsTypeCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTmsToolsType">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/AddTmsToolsType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTmsToolsType">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/UpdateTmsToolsType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelTmsToolsTypes">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/DelTmsToolsTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelTmsToolsType">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/DelTmsToolsType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsToolsTypes">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsToolsTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsToolsTypeById">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsToolsTypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsToolsMasterByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsToolsMasterByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsToolsMasterCount">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsToolsMasterCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTmsToolsMaster">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/AddTmsToolsMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTmsToolsMaster">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/UpdateTmsToolsMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelTmsToolsMasters">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/DelTmsToolsMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelTmsToolsMaster">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/DelTmsToolsMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsToolsMasters">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsToolsMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsToolsMasterById">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsToolsMasterById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsDeviceToolsPosByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsDeviceToolsPosByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsDeviceToolsPosCount">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsDeviceToolsPosCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTmsDeviceToolsPos">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/AddTmsDeviceToolsPos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTmsDeviceToolsPos">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/UpdateTmsDeviceToolsPos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelTmsDeviceToolsPoss">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/DelTmsDeviceToolsPoss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelTmsDeviceToolsPos">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/DelTmsDeviceToolsPos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsDeviceToolsPoss">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsDeviceToolsPoss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmsDeviceToolsPosById">
      <soap:operation soapAction="http://fanuc.com.cn/ITMSService/GetTmsDeviceToolsPosById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TMSService">
    <wsdl:port name="BasicHttpBinding_ITMSService" binding="tns:BasicHttpBinding_ITMSService">
      <soap:address location="http://localhost/BFM.WCFService/TMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>