Contract/BFM.Server.DataAsset/Service References/SDMService/SDMService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://fanuc.com.cn/" elementFormDefault="qualified" targetNamespace="http://fanuc.com.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BFM.WCFService/SDMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BFM.ContractModel" />
  <xs:import schemaLocation="http://localhost/BFM.WCFService/SDMService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetSysTableNOSettingByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysTableNOSettingByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysTableNOSettingByPageResult" nillable="true" type="q1:ArrayOfSysTableNOSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysTableNOSettingCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysTableNOSettingCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysTableNOSettingCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysTableNOSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysTableNOSetting" nillable="true" type="q2:SysTableNOSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysTableNOSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysTableNOSettingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysTableNOSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysTableNOSetting" nillable="true" type="q3:SysTableNOSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysTableNOSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysTableNOSettingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysTableNOSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysTableNOSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysTableNOSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysTableNOSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysTableNOSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysTableNOSettingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysTableNOSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysTableNOSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysTableNOSettingsResult" nillable="true" type="q5:ArrayOfSysTableNOSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysTableNOSettingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysTableNOSettingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysTableNOSettingByIdResult" nillable="true" type="q6:SysTableNOSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumMainByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumMainByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysEnumMainByPageResult" nillable="true" type="q7:ArrayOfSysEnumMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumMainCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumMainCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysEnumMainCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysEnumMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysEnumMain" nillable="true" type="q8:SysEnumMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysEnumMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysEnumMainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysEnumMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysEnumMain" nillable="true" type="q9:SysEnumMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysEnumMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysEnumMainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysEnumMains">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysEnumMainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysEnumMainsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysEnumMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysEnumMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysEnumMainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumMains">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumMainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysEnumMainsResult" nillable="true" type="q11:ArrayOfSysEnumMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumMainById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumMainByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysEnumMainByIdResult" nillable="true" type="q12:SysEnumMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumItemsByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumItemsByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysEnumItemsByPageResult" nillable="true" type="q13:ArrayOfSysEnumItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumItemsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumItemsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysEnumItemsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysEnumItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysEnumItems" nillable="true" type="q14:SysEnumItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysEnumItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysEnumItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysEnumItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysEnumItems" nillable="true" type="q15:SysEnumItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysEnumItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysEnumItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysEnumItemss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysEnumItemssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysEnumItemssResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysEnumItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysEnumItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysEnumItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumItemss">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumItemssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysEnumItemssResult" nillable="true" type="q17:ArrayOfSysEnumItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumItemsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysEnumItemsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysEnumItemsByIdResult" nillable="true" type="q18:SysEnumItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUserByPageResult" nillable="true" type="q19:ArrayOfSysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysUserCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysUser" nillable="true" type="q20:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysUser" nillable="true" type="q21:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUsersResult" nillable="true" type="q23:ArrayOfSysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUserByIdResult" nillable="true" type="q24:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRoleByPageResult" nillable="true" type="q25:ArrayOfSysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysRoleCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysRole" nillable="true" type="q26:SysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysRole" nillable="true" type="q27:SysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysRolesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRolesResult" nillable="true" type="q29:ArrayOfSysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRoleByIdResult" nillable="true" type="q30:SysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysPurviewByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysPurviewByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysPurviewByPageResult" nillable="true" type="q31:ArrayOfSysPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysPurviewCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysPurviewCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysPurviewCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysPurview" nillable="true" type="q32:SysPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysPurview" nillable="true" type="q33:SysPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysPurviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysPurviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysPurviewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysPurviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysPurviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysPurviewsResult" nillable="true" type="q35:ArrayOfSysPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysPurviewById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysPurviewByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysPurviewByIdResult" nillable="true" type="q36:SysPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuItemByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuItemByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysMenuItemByPageResult" nillable="true" type="q37:ArrayOfSysMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuItemCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuItemCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysMenuItemCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysMenuItem" nillable="true" type="q38:SysMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysMenuItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysMenuItem" nillable="true" type="q39:SysMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysMenuItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysMenuItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysMenuItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysMenuItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysMenuItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysMenuItemsResult" nillable="true" type="q41:ArrayOfSysMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysMenuItemByIdResult" nillable="true" type="q42:SysMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleUserByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleUserByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRoleUserByPageResult" nillable="true" type="q43:ArrayOfSysRoleUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleUserCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleUserCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysRoleUserCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysRoleUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysRoleUser" nillable="true" type="q44:SysRoleUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysRoleUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysRoleUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRoleUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysRoleUser" nillable="true" type="q45:SysRoleUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRoleUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysRoleUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRoleUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRoleUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysRoleUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRoleUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRoleUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysRoleUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRoleUsersResult" nillable="true" type="q47:ArrayOfSysRoleUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRoleUserByIdResult" nillable="true" type="q48:SysRoleUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserPurviewByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserPurviewByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUserPurviewByPageResult" nillable="true" type="q49:ArrayOfSysUserPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserPurviewCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserPurviewCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysUserPurviewCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysUserPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysUserPurview" nillable="true" type="q50:SysUserPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysUserPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysUserPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysUserPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysUserPurview" nillable="true" type="q51:SysUserPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysUserPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysUserPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserPurviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q52:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserPurviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysUserPurviewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysUserPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserPurviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserPurviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUserPurviewsResult" nillable="true" type="q53:ArrayOfSysUserPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserPurviewById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserPurviewByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUserPurviewByIdResult" nillable="true" type="q54:SysUserPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolePurviewByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolePurviewByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRolePurviewByPageResult" nillable="true" type="q55:ArrayOfSysRolePurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolePurviewCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolePurviewCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysRolePurviewCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysRolePurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysRolePurview" nillable="true" type="q56:SysRolePurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysRolePurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysRolePurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRolePurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysRolePurview" nillable="true" type="q57:SysRolePurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRolePurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysRolePurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRolePurviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q58:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRolePurviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysRolePurviewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRolePurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysRolePurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysRolePurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolePurviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolePurviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRolePurviewsResult" nillable="true" type="q59:ArrayOfSysRolePurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolePurviewById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRolePurviewByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysRolePurviewByIdResult" nillable="true" type="q60:SysRolePurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuPurviewByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuPurviewByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysMenuPurviewByPageResult" nillable="true" type="q61:ArrayOfSysMenuPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuPurviewCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuPurviewCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysMenuPurviewCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysMenuPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysMenuPurview" nillable="true" type="q62:SysMenuPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysMenuPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysMenuPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysMenuPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysMenuPurview" nillable="true" type="q63:SysMenuPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysMenuPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysMenuPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysMenuPurviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q64:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysMenuPurviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysMenuPurviewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysMenuPurview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysMenuPurviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysMenuPurviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuPurviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuPurviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysMenuPurviewsResult" nillable="true" type="q65:ArrayOfSysMenuPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuPurviewById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuPurviewByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysMenuPurviewByIdResult" nillable="true" type="q66:SysMenuPurview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserMenuByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserMenuByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUserMenuByPageResult" nillable="true" type="q67:ArrayOfSysUserMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserMenuCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserMenuCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysUserMenuCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysUserMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysUserMenu" nillable="true" type="q68:SysUserMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysUserMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysUserMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysUserMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysUserMenu" nillable="true" type="q69:SysUserMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysUserMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysUserMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q70:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysUserMenusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysUserMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysUserMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUserMenusResult" nillable="true" type="q71:ArrayOfSysUserMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserMenuById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserMenuByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysUserMenuByIdResult" nillable="true" type="q72:SysUserMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsWorkScheduleByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsWorkScheduleByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsWorkScheduleByPageResult" nillable="true" type="q73:ArrayOfRsWorkSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsWorkScheduleCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsWorkScheduleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRsWorkScheduleCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsWorkSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsWorkSchedule" nillable="true" type="q74:RsWorkSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsWorkScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRsWorkScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsWorkSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsWorkSchedule" nillable="true" type="q75:RsWorkSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsWorkScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRsWorkScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsWorkSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q76:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsWorkSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsWorkSchedulesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsWorkSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsWorkScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsWorkScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsWorkSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsWorkSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsWorkSchedulesResult" nillable="true" type="q77:ArrayOfRsWorkSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsWorkScheduleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsWorkScheduleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsWorkScheduleByIdResult" nillable="true" type="q78:RsWorkSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAttachInfoByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAttachInfoByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysAttachInfoByPageResult" nillable="true" type="q79:ArrayOfSysAttachInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAttachInfoCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAttachInfoCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysAttachInfoCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysAttachInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysAttachInfo" nillable="true" type="q80:SysAttachInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysAttachInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysAttachInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysAttachInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysAttachInfo" nillable="true" type="q81:SysAttachInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysAttachInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysAttachInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysAttachInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q82:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysAttachInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysAttachInfosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysAttachInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysAttachInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysAttachInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAttachInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAttachInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysAttachInfosResult" nillable="true" type="q83:ArrayOfSysAttachInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAttachInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAttachInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysAttachInfoByIdResult" nillable="true" type="q84:SysAttachInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAppInfoByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAppInfoByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysAppInfoByPageResult" nillable="true" type="q85:ArrayOfSysAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAppInfoCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAppInfoCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysAppInfoCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysAppInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysAppInfo" nillable="true" type="q86:SysAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysAppInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysAppInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysAppInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mSysAppInfo" nillable="true" type="q87:SysAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysAppInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysAppInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysAppInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q88:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysAppInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysAppInfosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysAppInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysAppInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysAppInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAppInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAppInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysAppInfosResult" nillable="true" type="q89:ArrayOfSysAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAppInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAppInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysAppInfoByIdResult" nillable="true" type="q90:SysAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysDepartmentByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysDepartmentByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysDepartmentByPageResult" nillable="true" type="q91:ArrayOfSysDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysDepartmentCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysDepartmentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysDepartmentCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mDepartment" nillable="true" type="q92:SysDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mDepartment" nillable="true" type="q93:SysDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q94:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysDepartmentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSysDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSysDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysDepartmentsResult" nillable="true" type="q95:ArrayOfSysDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysDepartmentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysDepartmentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetSysDepartmentByIdResult" nillable="true" type="q96:SysDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>