Contract/BFM.Server.DataAsset/Service References/SDMService/SDMService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://fanuc.com.cn/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SDMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://fanuc.com.cn/" location="http://localhost/BFM.WCFService/SDMService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ISDMService" type="i0:ISDMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSysTableNOSettingByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysTableNOSettingByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysTableNOSettingCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysTableNOSettingCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysTableNOSetting">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysTableNOSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysTableNOSetting">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysTableNOSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysTableNOSettings">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysTableNOSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysTableNOSetting">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysTableNOSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysTableNOSettings">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysTableNOSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysTableNOSettingById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysTableNOSettingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysEnumMainByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysEnumMainByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysEnumMainCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysEnumMainCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysEnumMain">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysEnumMain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysEnumMain">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysEnumMain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysEnumMains">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysEnumMains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysEnumMain">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysEnumMain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysEnumMains">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysEnumMains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysEnumMainById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysEnumMainById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysEnumItemsByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysEnumItemsByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysEnumItemsCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysEnumItemsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysEnumItems">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysEnumItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysEnumItems">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysEnumItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysEnumItemss">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysEnumItemss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysEnumItems">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysEnumItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysEnumItemss">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysEnumItemss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysEnumItemsById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysEnumItemsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysUser">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysUser">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysUsers">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysUser">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUsers">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRoleByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRoleByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRoleCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRoleCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysRole">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysRole">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysRoles">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysRole">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRoles">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRoleById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRoleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysPurviewByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysPurviewByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysPurviewCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysPurviewCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysPurviews">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysPurviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysPurviews">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysPurviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysPurviewById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysPurviewById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysMenuItemByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysMenuItemByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysMenuItemCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysMenuItemCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysMenuItem">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysMenuItem">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysMenuItems">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysMenuItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysMenuItem">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysMenuItems">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysMenuItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysMenuItemById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysMenuItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRoleUserByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRoleUserByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRoleUserCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRoleUserCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysRoleUser">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysRoleUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysRoleUser">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysRoleUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysRoleUsers">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysRoleUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysRoleUser">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysRoleUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRoleUsers">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRoleUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRoleUserById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRoleUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserPurviewByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserPurviewByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserPurviewCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserPurviewCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysUserPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysUserPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysUserPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysUserPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysUserPurviews">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysUserPurviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysUserPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysUserPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserPurviews">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserPurviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserPurviewById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserPurviewById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRolePurviewByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRolePurviewByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRolePurviewCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRolePurviewCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysRolePurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysRolePurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysRolePurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysRolePurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysRolePurviews">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysRolePurviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysRolePurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysRolePurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRolePurviews">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRolePurviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysRolePurviewById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysRolePurviewById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysMenuPurviewByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysMenuPurviewByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysMenuPurviewCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysMenuPurviewCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysMenuPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysMenuPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysMenuPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysMenuPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysMenuPurviews">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysMenuPurviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysMenuPurview">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysMenuPurview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysMenuPurviews">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysMenuPurviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysMenuPurviewById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysMenuPurviewById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserMenuByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserMenuByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserMenuCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserMenuCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysUserMenu">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysUserMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysUserMenu">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysUserMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysUserMenus">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysUserMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysUserMenu">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysUserMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserMenus">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUserMenuById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysUserMenuById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRsWorkScheduleByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetRsWorkScheduleByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRsWorkScheduleCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetRsWorkScheduleCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRsWorkSchedule">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddRsWorkSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRsWorkSchedule">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateRsWorkSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRsWorkSchedules">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelRsWorkSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRsWorkSchedule">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelRsWorkSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRsWorkSchedules">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetRsWorkSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRsWorkScheduleById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetRsWorkScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysAttachInfoByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysAttachInfoByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysAttachInfoCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysAttachInfoCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysAttachInfo">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysAttachInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysAttachInfo">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysAttachInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysAttachInfos">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysAttachInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysAttachInfo">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysAttachInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysAttachInfos">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysAttachInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysAttachInfoById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysAttachInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysAppInfoByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysAppInfoByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysAppInfoCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysAppInfoCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysAppInfo">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysAppInfo">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysAppInfos">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysAppInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysAppInfo">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysAppInfos">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysAppInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysAppInfoById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysAppInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysDepartmentByPage">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysDepartmentByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysDepartmentCount">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysDepartmentCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSysDepartment">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/AddSysDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSysDepartment">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/UpdateSysDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysDepartments">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSysDepartment">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/DelSysDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysDepartments">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysDepartmentById">
      <soap:operation soapAction="http://fanuc.com.cn/ISDMService/GetSysDepartmentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDMService">
    <wsdl:port name="BasicHttpBinding_ISDMService" binding="tns:BasicHttpBinding_ISDMService">
      <soap:address location="http://localhost/BFM.WCFService/SDMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>