Contract/BFM.Server.DataAsset/Service References/EAMService/EAMService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://fanuc.com.cn/" elementFormDefault="qualified" targetNamespace="http://fanuc.com.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BFM.WCFService/EAMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BFM.ContractModel" />
  <xs:import schemaLocation="http://localhost/BFM.WCFService/EAMService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAmAssetMasterNByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmAssetMasterNByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetAmAssetMasterNByPageResult" nillable="true" type="q1:ArrayOfAmAssetMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmAssetMasterNCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmAssetMasterNCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmAssetMasterNCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmAssetMasterN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mAmAssetMasterN" nillable="true" type="q2:AmAssetMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmAssetMasterNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAmAssetMasterNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAmAssetMasterN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mAmAssetMasterN" nillable="true" type="q3:AmAssetMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAmAssetMasterNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAmAssetMasterNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAmAssetMasterNs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAmAssetMasterNsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelAmAssetMasterNsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAmAssetMasterN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAmAssetMasterNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelAmAssetMasterNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmAssetMasterNs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmAssetMasterNsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetAmAssetMasterNsResult" nillable="true" type="q5:ArrayOfAmAssetMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmAssetMasterNById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmAssetMasterNByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetAmAssetMasterNByIdResult" nillable="true" type="q6:AmAssetMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmPartsMasterNByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmPartsMasterNByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetAmPartsMasterNByPageResult" nillable="true" type="q7:ArrayOfAmPartsMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmPartsMasterNCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmPartsMasterNCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmPartsMasterNCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmPartsMasterN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mAmPartsMasterN" nillable="true" type="q8:AmPartsMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmPartsMasterNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAmPartsMasterNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAmPartsMasterN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mAmPartsMasterN" nillable="true" type="q9:AmPartsMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAmPartsMasterNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAmPartsMasterNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAmPartsMasterNs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAmPartsMasterNsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelAmPartsMasterNsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAmPartsMasterN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAmPartsMasterNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelAmPartsMasterNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmPartsMasterNs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmPartsMasterNsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetAmPartsMasterNsResult" nillable="true" type="q11:ArrayOfAmPartsMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmPartsMasterNById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmPartsMasterNByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetAmPartsMasterNByIdResult" nillable="true" type="q12:AmPartsMasterN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardsByPageResult" nillable="true" type="q13:ArrayOfRsMaintainStandards" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRsMaintainStandardsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsMaintainStandards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsMaintainStandards" nillable="true" type="q14:RsMaintainStandards" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsMaintainStandardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRsMaintainStandardsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsMaintainStandards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsMaintainStandards" nillable="true" type="q15:RsMaintainStandards" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsMaintainStandardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRsMaintainStandardsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsMaintainStandardssResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsMaintainStandardsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardss">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardssResult" nillable="true" type="q17:ArrayOfRsMaintainStandards" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardsByIdResult" nillable="true" type="q18:RsMaintainStandards" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsDetailByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsDetailByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardsDetailByPageResult" nillable="true" type="q19:ArrayOfRsMaintainStandardsDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsDetailCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsDetailCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRsMaintainStandardsDetailCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsMaintainStandardsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsMaintainStandardsDetail" nillable="true" type="q20:RsMaintainStandardsDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsMaintainStandardsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRsMaintainStandardsDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsMaintainStandardsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsMaintainStandardsDetail" nillable="true" type="q21:RsMaintainStandardsDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsMaintainStandardsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRsMaintainStandardsDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsMaintainStandardsDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsMaintainStandardsDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardsDetailsResult" nillable="true" type="q23:ArrayOfRsMaintainStandardsDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsDetailById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsDetailByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardsDetailByIdResult" nillable="true" type="q24:RsMaintainStandardsDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsRelateByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsRelateByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardsRelateByPageResult" nillable="true" type="q25:ArrayOfRsMaintainStandardsRelate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsRelateCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsRelateCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRsMaintainStandardsRelateCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsMaintainStandardsRelate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsMaintainStandardsRelate" nillable="true" type="q26:RsMaintainStandardsRelate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsMaintainStandardsRelateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRsMaintainStandardsRelateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsMaintainStandardsRelate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsMaintainStandardsRelate" nillable="true" type="q27:RsMaintainStandardsRelate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsMaintainStandardsRelateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRsMaintainStandardsRelateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsRelates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsRelatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsMaintainStandardsRelatesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsRelate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainStandardsRelateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsMaintainStandardsRelateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsRelates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsRelatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardsRelatesResult" nillable="true" type="q29:ArrayOfRsMaintainStandardsRelate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsRelateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainStandardsRelateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainStandardsRelateByIdResult" nillable="true" type="q30:RsMaintainStandardsRelate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmRepairRecordByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmRepairRecordByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRmRepairRecordByPageResult" nillable="true" type="q31:ArrayOfRmRepairRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmRepairRecordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmRepairRecordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRmRepairRecordCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRmRepairRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRmRepairRecord" nillable="true" type="q32:RmRepairRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRmRepairRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRmRepairRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRmRepairRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRmRepairRecord" nillable="true" type="q33:RmRepairRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRmRepairRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRmRepairRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRmRepairRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRmRepairRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRmRepairRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRmRepairRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRmRepairRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRmRepairRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmRepairRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmRepairRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRmRepairRecordsResult" nillable="true" type="q35:ArrayOfRmRepairRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmRepairRecordById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRmRepairRecordByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRmRepairRecordByIdResult" nillable="true" type="q36:RmRepairRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainRecordByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="isAsc" type="xs:boolean" />
        <xs:element minOccurs="0" name="orderField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainRecordByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainRecordByPageResult" nillable="true" type="q37:ArrayOfRsMaintainRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainRecordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainRecordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRsMaintainRecordCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsMaintainRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsMaintainRecord" nillable="true" type="q38:RsMaintainRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRsMaintainRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRsMaintainRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsMaintainRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="mRsMaintainRecord" nillable="true" type="q39:RsMaintainRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRsMaintainRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRsMaintainRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsMaintainRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRsMaintainRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRsMaintainRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainRecordsResult" nillable="true" type="q41:ArrayOfRsMaintainRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainRecordById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRsMaintainRecordByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BFM.ContractModel" minOccurs="0" name="GetRsMaintainRecordByIdResult" nillable="true" type="q42:RsMaintainRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>